* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: url("./Assets/MyBackground2.jpg") no-repeat center/ cover;
    padding:0;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}


.logo {
    font-size: 30px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}


.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    padding: 35px 65px;
    color: #fff;
}


.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease-in-out;
}

.navbar a:hover{
    text-shadow: 2px 2px 4px #fff;
    color: #fff;
}

.home {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 40px ;
    color: #fff;
}


.home-container{
    margin: auto;
    max-width: 50%;
    text-align: center;
}

.home-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.home-detail h1 {
    font-size: 55px;
    line-height: 1;
    color: #fff;

}

.home-detail .static-txt {
    font-size: 32px;
    color: #fff;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    
}
.home-detail p {
    font-size: 15px;
    letter-spacing: 2px;
    margin: 10px 0 20px;
    color: #fff;
}

.home-detail .social-icons a {
    display: inline-flex;
    align-items: center;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
    transition: .5s;
}

.home-detail .social-icons a:hover {
    background: #fff;
    box-shadow: 0 0 10px #fff;
    color:rgb(50, 65, 78);
}


.home-img .img-box img {
    position: relative;
    width: 100%;
    height: auto;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px;
    aspect-ratio: 1;
    object-fit: cover;
    text-align: center;
}

.wrapper {
    display: inline-flex;
    gap: 12px;
}

.wrapper .static-txt{
    font-size: 30px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts{
    /* margin-left: 15px; */
    /* height: 90px; */
    /* line-height: 90px; */
    height: 40px;
    line-break: 40px;
    overflow: hidden;
    box-sizing: border-box;
  }
  .dynamic-txts li{
    /* scale: 0.93; */
    height: 40px;
    /* container color */
    background: rgb(128, 27, 77);
    border-radius: 10px;
    overflow: hidden;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    list-style: none;
    /* color: rgb(50, 65, 78); */
    /* text color */
    color: white;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -160px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    /* line-height: 90px; */
    line-height: 40px;
    white-space: nowrap;
    padding-left: 20px; 
    padding-right: 20px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 40px;
    width: 100%;
    /* container color */
    background: rgb(128, 27, 77);
    border-left: 2px solid white; 
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 40px);
    }
    100%{
      left: 0;
    }
  }